@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');



p
{
    font-family: 'Roboto';
    font-size: 1.4em;
    max-width: 40em;
}

h2
{
    margin-top: 3em;
}
.contributionsList
{
    font-size: 1.4em;
    text-align: left;
}


.gameInfo
{
    color: var(--textColor);
    padding: 5em 5em 10em 5em;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headImage
{
    resize: horizontal;
    width: 100%;
    max-width: 40em;
    max-height: 20em;
    border-radius: 2em;
    margin-bottom: 2em;
}


.downloadLink
{
    transition:ease-in-out .1s;
    width: 200%;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.411);
    color: var(--textColor);
}

.downloadLink:hover
{
    /*color: burlywood;*/
    transition:ease-in-out .1s;
    background-color: rgba(160, 160, 160, 0.829);
}

