@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

@keyframes fade-in
{
    from
    {
        transform: translate(0, 50%);
        opacity: 0%;
        color: transparent;
    }

    
    70%
    {
        color: transparent;
    }

    to
    {
        transform: translate(0, 0);
        opacity: 100%;
        color: var(--lightRedText);
    }

    
}


/* .gameHighlightSection
{
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--backgroundColor);
    height: 40em;
}

.gameHighlightBackgroundContainer
{
    display: block;
    overflow: hidden;
    position: absolute;

    width: 100%;
    height: 100%;
    border-bottom: var(--darkRedHighlight) dotted 7px;
}

.gameHighlightBackgroundImg
{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    filter: opacity(25%);
}

.highlightedGameInfo
{
    color: var(--textColor);
    flex-wrap: wrap;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    padding: 5em 3em;

    position: relative;
    align-self: center;
    display: flex;
    justify-content: space-around;
    max-width: 80em;
}

.highlightedGameMedia
{
    width: 20em;

    img{
        width: 100%;
    }
}

.highlightedGameText
{
    
    width: 25em;
} */

.introductionSection
{
    

    background-color: var(--backgroundColor);
    margin: 0;

    padding-bottom: 3em;
    padding-top: 2em;
    
    /* border-bottom: var(--darkRedHighlight) dotted 7px; */
    border-top: var(--darkRedHighlight) dotted 7px;
}

.introductionContainer
{
    animation-name: fade-in;
    animation-duration: 1s;

    display: flex;
    flex-wrap: wrap;
    font-size: 1.8em;
    padding: 1em 10%;
    color: var(--lightRedText);

    align-content: center;
    justify-content: center;
}

.pictureContainer
{
    flex-shrink: 0;
    overflow: hidden;
    width: 10em;
    height: 10em;

    border-radius: 99%;
    /* border: 5px var(--headerColor) solid; */
    filter: drop-shadow(0 0 .5em black);
}

.profilePicture
{
    position: absolute;
    /*width: 23em;
    transform: translate(-3.5em, -8em);*/
    width: 10em;
    transform: translate(0 , -5.5em);
}

.informationText
{
    margin-left: 1em;
    text-align: center;
    width: 100%;
    max-width: 30em;
}

.gamesSection
{
    background-color: var(--backgroundColor);
    padding-top: 3em;
    padding-bottom: 10em;
    width: 100%;
    text-align: center;
}

.gamesSectionTitle
{
    font-size: 3em;
    color: var(--textColor);
    text-shadow: 4px 4px .1em black;
}

.gamesList
{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gameHeader
{
    position: absolute;
    top: 0;
    transition-duration: .3s;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    color: var(--redText);
}

.gameInfoBox
{
    
    transition-duration: .3s;
    text-decoration: none;
    text-decoration-color: rgb(0, 0, 0, 0);
    color: var(--lightRedText);
    background-color: var(--headerColor);
    border-radius: .8em;
    /*border: #101010 solid;*/

    margin-top: 3em;
    padding: 0;
    padding-top: 4em;
    width: 90%;
    max-width: 90em;
    /* min-width: 80%; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    position: relative;

    filter: drop-shadow(.6em 1em 0 black);
    
    .hoverGIF
    {
        transition: .2s;
        opacity: 0%;
    }

    .gameMedia
    {
        transition: .2s;
        filter: none;
    }
}


.gameInfoBox:hover
{
    transition-duration: .3s;
    background-color: var(--darkRedHighlight);
    filter: drop-shadow(.8em 1.5em 0 black);
    transform: translateY(-.5em);

    .gameHeader
    {
        transition-duration: .3s;
        color: var(--lightRedText);
    }

    .hoverGIF
    {
        transition: .3s;
        opacity: 100%;
    }

    .gameMedia
    {
        transition: .3s;
        filter: drop-shadow(0 0 .7em black);
    }
}

.gameMedia
{
    display: flex;
    
    width: 100%;
    /* height: 50%; */
    aspect-ratio: calc(16/9);
    max-width: 50em;
    /* min-width: 50; */
    padding: 0;
    margin-top: 0;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    align-items: center;
    justify-content: center;
    border-bottom: #101010 solid 5px;
    overflow: hidden;

    border-radius: .5em;

    position: relative;

    
}

.gameThumbnail
{
    position: relative;
}

.hoverGIF
{
    position: absolute;
}

.gameMedia > img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* min-width: 100%; */
}

.mediaOverlay
{
    width: 100%;
    position: absolute;
    align-self: flex-end;
    text-align: center;
    background-color: #10101063;
    /*border-bottom: 10px #101010 solid;*/
    padding: .2em 0;
    color: #fff;
}

.gameText
{
    margin: 0 2em;
    margin-bottom: 2em;
    font-size: 1.2em;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;

    li
    {
        font-style: normal;
        font-weight: bold;
    }
}

.gameSeparator
{
    margin-top: 35px;
    width: 70%;
    max-width: 80em;
    height: 7px;
    border-bottom: var(--darkRedHighlight) dotted 7px;
}

.aboutMeSection
{
    background-color: var(--backgroundColor);
    margin: 0;
    color: var(--lightRedText);
    padding-top: 1em;
    padding-bottom: 3em;
    border-top: var(--darkRedHighlight) dotted 7px;
}

.aboutMeContainer
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 40em;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.4em;
    line-height: 1.6em;
}

.proficienciesList
{
    text-align: left;
    width: fit-content;
    /* padding-right: 5em; */
    overflow: hidden;
}

@media only screen and (max-width: 768px)
{

    .gameInfoBox
    {
        flex-wrap: wrap;
    }

    .pictureContainer
    {
        width: 5em;
        height: 5em;
    }
    
    .profilePicture
    {
        position: absolute;
        /* width: 11.5em;
        transform: translate(-1.6em, -4em); */
        width: 5em;
        transform: translate(0 , -2.75em);
    }

    .informationText
    {
        font-size: .7em;
        margin-left: 0;
        text-align: center;
        width: 100%;
        max-width: 20em;
        padding: 0;
    }
}