@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

@keyframes fade-in
{
    from
    {
        transform: translate(0, 50%);
        opacity: 0%;
        color: transparent;
    }

    
    70%
    {
        color: transparent;
    }

    to
    {
        transform: translate(0, 0);
        opacity: 100%;
        color: var(--lightRedText);
    }

    
}

.introductionSection
{
    

    background-color: var(--backgroundColor);
    margin: 0;

    padding-bottom: 3em;
    padding-top: 2em;
    
    border-bottom: var(--darkRedHighlight) dotted 7px;
}

.introductionContainer
{
    animation-name: fade-in;
    animation-duration: 1s;

    display: flex;
    flex-wrap: wrap;
    font-size: 1.8em;
    padding: 1em 3em;
    color: var(--lightRedText);

    align-content: center;
    justify-content: center;
}

.pictureContainer
{
    flex-shrink: 0;
    overflow: hidden;
    width: 10em;
    height: 10em;

    border-radius: 100%;
    /* border: 5px var(--headerColor) solid; */
    filter: drop-shadow(0 0 .5em black);
}
.profilePicture
{
    position: absolute;
    width: 23em;
    transform: translate(-3.5em, -8em);
}

.informationText
{
    margin-left: 1em;
    width: 70%;
}

.gamesList
{
    padding-top: 50px;
    padding-bottom: 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-color: var(--backgroundColor);
}

.gameHeader
{
    transition-duration: .3s;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    color: var(--redText);
}

.gameInfoBox
{
    margin-top: 6em;
    transition-duration: .3s;
    text-decoration: none;
    text-decoration-color: rgb(0, 0, 0, 0);
    color: var(--lightRedText);
    background-color: var(--headerColor);
    border-radius: 1%;
    /*border: #101010 solid;*/
    padding: 0;
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    filter: drop-shadow(.6em 1em 0 black);
    
    .hoverGIF
    {
        transition: .2s;
        opacity: 0%;
    }

    .gameMedia
    {
        transition: .2s;
        filter: none;
    }
}


.gameInfoBox:hover
{
    transition-duration: .3s;
    background-color: var(--darkRedHighlight);
    filter: drop-shadow(.8em 1.5em 0 black);
    transform: translateY(-.5em);

    .gameHeader
    {
        transition-duration: .3s;
        color: var(--lightRedText);
    }

    .hoverGIF
    {
        transition: .3s;
        opacity: 100%;
    }

    .gameMedia
    {
        transition: .3s;
        filter: drop-shadow(0 0 .7em black);
    }
}

.gameMedia
{
    display: flex;
    width: 100%;
    height: 50%;
    max-width: 100%;
    min-width: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2em;
    align-items: center;
    justify-content: center;
    border-bottom: #101010 solid 5px;
    overflow: hidden;

    position: relative;

    
}

.gameThumbnail
{
    position: relative;
}

.hoverGIF
{
    position: absolute;
}

.gameMedia > img
{
    width: 100%;
}

.mediaOverlay
{
    width: 100%;
    position: absolute;
    align-self: flex-end;
    text-align: center;
    background-color: #10101063;
    /*border-bottom: 10px #101010 solid;*/
    padding: .2em 0;
    color: #fff;
}

.gameText
{
    margin: 0 2em;
    margin-bottom: 2em;
}

.aboutMeSection
{
    background-color: var(--backgroundColor);
    margin: 0;
    color: var(--lightRedText);
    padding-top: 1em;
    padding-bottom: 3em;
    border-top: var(--darkRedHighlight) dotted 7px;
}

.aboutMeContainer
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 40em;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.4em;
    line-height: 1.6em;
}

.proficienciesList
{
    text-align: left;
    width: fit-content;
    padding-right: 5em;
}